@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato";
    font-weight: bold;
    color: rgb(43, 44, 46)
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
    height: 100vh;
}

.calculator{
    width: 400px;
    background: rgb(46, 48, 53);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
}

.calculator__screen{
    background: rgb(228, 229, 235);
    height: 70px;
    margin: 40px 40px 0 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    
}

.button__grid{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    
}

.calculator__button{
    background: rgb(228, 229, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.226);
    border-radius: 3px;
    cursor: pointer;
}
.calculator__button:active{
    transform: translateY(1px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.226);
}

.screen__operator{
    padding: 0 5px;
}

.button__active{
    background: rgb(245, 88, 26);
}
/* rgb(245, 88, 26); /*